
version: '3.8'
services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
       - DATABASE_URL=${DATABASE_URL}
        - RESEND_API_KEY=${RESEND_API_KEY}
        - NEXT_PUBLIC_ACCESS_CODE=${NEXT_PUBLIC_ACCESS_CODE}
      
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:16
    # environment:
      # - POSTGRES_USER=user
      # - POSTGRES_PASSWORD=password
      # - POSTGRES_DB=appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata: